@model IEnumerable<Bodegas.Models.Producto>

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear nuevo producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID @* @Html.DisplayNameFor(model => model.Id_Producto)*@
            </th>
            <th>
               PRODUCTO @*@Html.DisplayNameFor(model => model.Producto_)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto_)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarProducto", new {  id=item.Id_Producto  }) |
                @Html.ActionLink("Eliminar", "EliminarProducto", new { id = item.Id_Producto })
            </td>
        </tr>
}
    </tbody>
</table>
